{% extends 'index.html' %} 
{% block title %}Tư vấn{% endblock %} 
{% block content %}
<section class="banner-about"></section>
<!-- <section class="patient">
<div class="container">
    <div class="coze-chatbot-container">
        <h1>Chatbot tư vấn</h1>
        <h4 style="color: red;">* test ít thui nhoa * tốn tiền :(((( </h4>
        <form action="{% url 'send_coze_api_request' %}" method="get" class="coze-chatbot-form">
            <div class="input-group">
                <label for="query"><i class="fa-solid fa-user-tie"></i></label>
                <input type="text" id="query" name="query" required value="{{ query }}" >
            </div>
            <div class="input-group">
                <label for="traloi">Câu trả lời:</label>
            </div>
            <div class="input-group">
                
                <input type="hidden" id="traloi" name="traloi" required value="{{ bot_response }}" >{% if bot_response %}{{ bot_response }}{% endif %}
            </div>
            <button type="submit" class="coze-chatbot-button">Gửi</button>
        </form>
    </div>
</div> -->

</section>

{% endblock %}