{% extends 'index.html' %}
{% block title %}Giới thiệu{% endblock %} 
{% block content %}
<section class="banner-about"></section>
<section class="team-work">
        <div class="container">
            <div class="our-team">
                <h1>THÀNH VIÊN</h1>
                <div class="members">
                    <div class="member">
                        <img src="https://cdn4.iconfinder.com/data/icons/profession-avatar-5/64/29-programmer-512.png"
                            alt="">
                        <div class="content">
                            <h3>HUỲNH ANH TUẤN</h3>
                            <h4>2001206979</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio temporibus
                                sequi eos ipsam ducimus id, iusto voluptatem?</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="https://cdn0.iconfinder.com/data/icons/occupation-002/64/programmer-programming-occupation-avatar-512.png"
                            alt="">
                        <div class="content">
                            <h3>LÊ TẤN LỘC</h3>
                            <h4>2001202134</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio temporibus
                                sequi eos ipsam ducimus id, iusto voluptatem?</p>
                        </div>
                    </div>
                    <div class="member">
                        <img src="https://cdn2.iconfinder.com/data/icons/professions-vivid-vol-2/256/Programmer_Female-1024.png"
                            alt="">
                        <div class="content">
                            <h3>NGUYỄN THỊ KIM NGỌC</h3>
                            <h4>2001202171</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio temporibus
                                sequi eos ipsam ducimus id, iusto voluptatem?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
